.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 62.5%; /* 16:9 aspect ratio for MacBook Air (1280x800 resolution) */
  margin: auto;
  border-radius: 18px;
  border: 1px solid #ecf0f6;
  cursor: zoom-in;
  margin: 20px 0px;
}

.video-element {
  border-radius: 18px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.video-element.zoomed {
  opacity: 0;
}

.video-element.fade-in {
  opacity: 1;
  transition: opacity 0.5s;
}

.video-container.zoomed {
  border-radius: 0px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: zoom-out;
  margin: 0px;
}

.video-container.zoomed .video-element {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  max-width: 75vw; /* Limit the video's maximum width when zoomed */
  max-height: 100%; /* Limit the video's maximum height when zoomed */
  width: auto; /* Allow the video element to adjust its width */
  height: auto; /* Allow the video element to adjust its height */
  object-fit: contain; /* Keep the video's aspect ratio */
  margin: auto; /* Center the video element horizontally and vertically */
  filter: drop-shadow(0px 2px 12px rgba(0, 0, 0, 0.04));
  border: 1px solid #ecf0f6;
}

.play-stop-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 8px 16px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.play-stop-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
