.function-list table th:first-of-type  {
  width: 20%;
}

.function-list table th:nth-of-type(2) {
  width: 30%;
}

.function-list table tr td:nth-child(2) {
  font-family: ABCDiatypeMono-Regular;
  color: #4d5664;
}

.function-list table th:nth-of-type(3) {
  width: 50%;
}