
.gallery ol {
  counter-reset: list;
}
.gallery ol > li {
  list-style: none;
  position: relative;
}
.gallery ol > li:before {
  counter-increment: list;
  content: counter(list, lower-alpha) ") ";
  position: absolute;
  left: -1.4em;
}
