/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

table thead th {
  /* display: grid; */
  overflow-x: 'hidden';
  align-items: 'center';
  vertical-align: middle;
}

table thead th td {
  display: 'flex';
  align-items: 'center';
  justify-content: 'left';
  gap: '6px';
  min-height: '100%';
}

table thead span {
  vertical-align: bottom;
  white-space: nowrap;
  text-overflow: clip;
}
table thead svg {
  height: 16px;
  width: 16px;
  margin-right: 5px;
  opacity: 33%;
}
